.selectable-value-dropdown {
  display: inline-block;
  outline: none;
  background: #ffffff;
  border: 1px solid #2196F3;
  border-radius: 1px;
  padding: 0px 4px;
  margin: -1px 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  min-width: 150px;
  cursor: pointer;
  height: auto;
  vertical-align: baseline;
  box-sizing: border-box;
}

.selectable-value-dropdown:focus {
  outline: 1px solid #2196F3;
  outline-offset: 0;
}

.selectable-value-dropdown:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.selectable-value-fixed-wrapper {
  display: inline-block;
  vertical-align: baseline;
  /* Fixed line-height to prevent jittering */
  line-height: 1.2;
  min-height: 1.2em;
}

.selectable-value-text {
  display: inline-block;
  vertical-align: baseline;
  line-height: inherit;
  /* Always have the same box model to prevent jittering */
  padding: 0 2px;
  margin: 0 -2px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  box-sizing: border-box;
}

.selectable-editing {
  /* Only change the outline color, not the dimensions */
  outline-color: #2196F3;
}

